<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="assalaam.linearlayoutserdahana.id.uci">
    <uses-permission android:name="android.permission.INTERNET"
    android:versionCode="1"
    android:versionName="1.0"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <intent-filter>
            <action android:name="android.intent.action.Main" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.intent.action.Main" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <activity
            android:name=".RelativeActivity"
            android:label="@string/title_activity_relative" />
        <activity
            android:name=".ImageView"
            android:label="@string/title_activity_image_view" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_autocomplete_sederhana">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KotakDialog"
            android:label="@string/title_activity_kotak_dialog" />
        <activity
            android:name=".Intent1"
            android:label="@string/title_activity_intent" />
        <activity
            android:name=".Intent2"
            android:label="@string/title_activity_intent2" />
        <activity
            android:name=".ServiceBackground"
            android:label="@string/title_activity_service_background" />
        <activity
            android:name=".AutocompleteSederhana"
            android:label="@string/title_activity_picker" />
        <activity
            android:name=".checkBox"
            android:label="@string/title_activity_check_box" />
        <activity
            android:name=".Picker"
            android:label="@string/title_activity_radio_button" />
        <activity
            android:name=".radioButton"
            android:label="@string/title_activity_widget" />
        <activity
            android:name=".Widget"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".LinearLayout"
            android:label="LinearLayout" />
        <activity
            android:name=".Table"
            android:label="@string/title_activity_table" />
        <activity
            android:name=".PlayingAudio"
            android:label="@string/title_activity_playing_audio" />
        <activity
            android:name=".Calculator"
            android:label="@string/title_activity_calculator" />
        <activity
            android:name=".Web"
            android:label="@string/title_activity_web"></activity>
    </application>

</manifest>